# Ignore everything
*

# But not these files...
!/.gitignore
!/.dockerignore

!/.tekton/*

!*.go
!go.sum
!go.mod

!Dockerfile
!LICENSE
!renovate.json

!*.http

# ...even if they are in subdirectories
!*/
